body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-x: auto;
}


.container{
    margin: 0 auto;
    width: 800px;
}
.container >.content{
    margin-top: 20px;
    margin-bottom: 120px;
}
.container >.content >.label>span{
    font-size: 24px;
    font-weight: bold;
}
